<style type="text/css">
  .mask {
    height: 75.6%;
    overflow: hidden;
    background: rgba(227,235,226,.1);
    position: relative;
    position: fixed;
    width: 85.7%;
  }.mask .loading {
    color: rgba(0,0,0,.5);
    cursor: default;
    margin: 20% 0 0 49%;
    width: auto;
  }
</style>
{{if (!data)}}
  <div class="mask">
    <i class="fa fa-3x fa-spinner fa-pulse loading"></i>
  </div>
{{else}}
<table id="content-table" class="layui-table" style="margin-top: 0;">
  <colgroup>
    <col width="4.5%">
    <col width="16.5%">
    <col width="16.5%">
    <col width="12.5%">
    <col width="12.5%">
    <col width="12.5%">
    <col width="12.5%">
    <col width="12.5%">
  </colgroup>
  <thead style="display: none;"><!--隐藏是可以导出excel的-->
    <tr>
      <th>序号</th>
      <!--<th>电子票代码</th>-->
      <th>开始票号</th>
      <th>截至票号</th>
      <th>张数</th>
      <th>总库剩余</th>
      <th>入二级库</th>
      <th>售票员剩余</th>
      <th>实际已售</th>
    </tr>
  </thead>
  <tbody>
    {{each data as t i}}
    <tr>
      <td>{{i}}</td>
      <!--<td>电子票代码</td>-->
      <td>{{t.startNo}}</td>
      <td>{{t.endNo}}</td>
      <td>{{t.allCount}}</td>
      <td>{{t.allRest}}</td>
      <td>{{t.secondLevel}}</td>
      <td>{{t.conductorRest}}</td>
      <td>{{t.sell}}</td>
    </tr>
    {{/each}}
    <tr>
      <td>合计</td>
      <td></td>
      <td></td>
      <td>{{allCount_sum}}</td>
      <td>{{allRest_sum}}</td>
      <td>{{secondLevel_sum}}</td>
      <td>{{conductorRest_sum}}</td>
      <td>{{sell_sum}}</td>
    </tr>
  </tbody>
</table>
{{/if}}