<style type="text/css">
    .mask {
        height: 75.6%;
        overflow: hidden;
        background: rgba(227, 235, 226, .1);
        position: relative;
        position: fixed;
        width: 85.7%;
    }

    .mask .loading {
        color: rgba(0, 0, 0, .5);
        cursor: default;
        margin: 20% 0 0 49%;
        width: auto;
    }
</style>
{{if (!data)}}
<div class="mask">
    <i class="fa fa-3x fa-spinner fa-pulse loading"></i>
</div>
{{else}}
<table class="layui-table">
    <thead>
        <tr>
            <th></th>
            <th>时间</th>
            <th>活动名称</th>
            <th>推广费用</th>
            <th>实际营收</th>
        </tr>
    </thead>
    <tbody>
        {{each data as t i}}
        <tr>
            <td>{{i+1}}</td>
            <td>{{t.date}}</td>
            <td>{{t.activityName}}</td>
            <td>{{t.extensionCost}}</td>
            <td>{{t.actualRevenue}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}