<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">{{res.title}}</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left" lay-filter="nav">
      <li class="layui-nav-item">
        <a href="">控制台</a>
      </li>
      <li class="layui-nav-item">
        <a href="">商品管理</a>
      </li>
      <li class="layui-nav-item">
        <a href="">用户</a>
      </li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd>
            <a href="">邮件管理</a>
          </dd>
          <dd>
            <a href="">消息管理</a>
          </dd>
          <dd>
            <a href="">授权管理</a>
          </dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;"><img src=".././img/tx.png" class="layui-nav-img">清一色天空</a>
        <dl class="layui-nav-child">
          <dd>
            <a href="">基本资料</a>
          </dd>
          <dd>
            <a href="">安全设置</a>
          </dd>
        </dl>
      </li>
      <li class="layui-nav-item">
        <a href="">退了</a>
      </li>
    </ul>
  </div>
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll scorll_style1">
      <ul class="G-layui-nav-tree">
        <script>
          (menu => {
            let str = ''
            let menu_For = (t, more) => {
              more ? more += 10 : false
              for (let i = 0; i < t.length; i++) {
                let child = t[i].child
                str += '<li>' +
                '<a style="'+ (more ? 'padding-left: '+ more +'px;' : '') +'" href="#">'+ (more === false ? '<i class="fa fa-fw '+ t[i].fa +'" style="margin-right: 10px;"></i>' : '') + t[i].title + ( t[i].child ? '<i class="fa fa-angle-down" style="float: right;margin-right: 10px;"></i>' : '') +'</a>'
                if (child) {
                  str += '<ul class="G-item scorll_style1">'
                  menu_For(child, more ? more : 10)
                  str += '</ul>'
                }
                str += '</li>'
              }
            }
            menu_For(menu)
            $('.G-layui-nav-tree').html(str)
          })(JSON.parse('{{#json}}').menu)
        </script>
      </ul>
    </div>
  </div>
  <div class="layui-body">
    <div style="padding: 15px;">内容主体区域</div>
  </div>
  <div class="layui-footer">© layui.com - 底部固定区域 </div>
</div>