<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="Author" content="My灬Best丶Angel" />
<meta name="Copyright" content="" />
<meta name="keywords" content="网站关键字" />
<meta name="description" content="网站描述" />
<title>{{ data.title }}</title>
<!--<link rel="stylesheet" href="{{ root }}fonts/css/font-awesome.min.css" />-->

<link rel="stylesheet" href="{{ root }}js/layui/css/layui.css" />
<link rel="stylesheet" href="{{ root }}js/layui/css/modules/code.css" />
<link rel="stylesheet" href="{{ root }}js/layui/css/modules/layer/default/layer.css?v=3.1.1" />
<link rel="stylesheet" href="{{ root }}js/layui/css/modules/laydate/default/laydate.css?v=5.0.9" />


<link rel="stylesheet" href="{{ root }}js/toastr/toastr.min.css" />
<link rel="stylesheet" href="{{ root }}js/scroll/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="{{ root }}less/public.css" />
<!--<script src="{{ root }}js/layui/layui.all.js"></script>-->
<!--<script src="{{ root }}js/routeJSLoad.js"></script>-->
<!--<script src="{{ path }}js/adaption.js"></script>-->