<!--标准Echarts-->
	<style>

	</style>
	<dl class="content-mod">
		<dt class="content-mod-title">{{title}}</dt>
		<dd class="content-mod-det">
			<ul class="content-mod-timer">
				{{if (build.day === 3)}}
					<li class="hand timer-change" data-id="holiday">更多 <i class="fa fa-angle-right"></i></li>
					<li class="default">|</li>
				{{/if}}
				{{if (build.switchE === true)}}
					<li data-id="bar" class="hand content-mod-echarts_change {{if (build.echarts === 'bar')}}active{{/if}}"><i class="fa icon fa-bar-chart"></i></li>
					<li data-id="pie" class="hand content-mod-echarts_change {{if (build.echarts === 'pie')}}active{{/if}}"><i class="fa icon fa-pie-chart"></i></li>
					<li data-id="line" class="hand content-mod-echarts_change {{if (build.echarts === 'line')}}active{{/if}}"><i class="fa icon fa-line-chart"></i></li>
					<script>
						(function () {
							var switchE_def = JSON.parse('{{#switchE_def}}');
							$('#{{build.id}}').find('.content-mod-echarts_change').off('click').click(function () {
								if ($(this).hasClass('active')) {
									return;
								}
								$('#{{build.id}}').find('.content-mod-echarts_change').removeClass('active');
								$(this).addClass('active');
								var type = $(this).attr('data-id');
								for (var i = 0; i < switchE_def.length; i++) {
									if (switchE_def[i].name === type) {
										var dom = $("#{{build.id}}-echarts")[0];
										echarts.dispose(dom);
										var myChart = echarts.init(dom, 'echarts-style_green');
										myChart.setOption(switchE_def[i].option);
										myChart.name = '{{build.id}}';
										for (var j = 0; j < window.charts.length; j++) {
											if (window.charts[j].name === '{{build.id}}') {
												window.charts.splice(j, 1);
												break;
											}
										}
										window.charts.push(myChart);
										console.log(JSON.stringify(switchE_def[i].option));
										return;
									}
								}
							});
						})()
					</script>
				{{else if (build.switchE && (build.switchE.change || build.switchE.need) && option)}}
					{{each switchE_deF as t i}}
						<li data-id="{{t.name}}" class="hand content-mod-echarts_change {{if (build.echarts === t.name)}}active{{/if}}"><i class="fa icon {{if (t.name === 'line' || t.name === 'bar' || t.name === 'pie')}} fa-{{t.name}}-chart{{else}} fa-{{t.name}} {{/if}}"></i></li>
					{{/each}}
					<li class="default">|</li>
					<script>
						(function () {
							var switchE_def = JSON.parse('{{#switchE_def}}');
							$('#{{build.id}}').find('.content-mod-echarts_change').off('click').click(function () {
								if ($(this).hasClass('active')) {
									return;
								}
								$('#{{build.id}}').find('.content-mod-echarts_change').removeClass('active');
								$(this).addClass('active');
								var type = $(this).attr('data-id');
								for (var i = 0; i < switchE_def.length; i++) {
									if (switchE_def[i].name === type) {
										var dom = $("#{{build.id}}-echarts")[0];
										echarts.dispose(dom);
										var myChart = echarts.init(dom, 'echarts-style_green');
										myChart.setOption(switchE_def[i].option);
										myChart.name = '{{build.id}}';
										for (var j = 0; j < window.charts.length; j++) {
											if (window.charts[j].name === '{{build.id}}') {
												window.charts.splice(j, 1);
												break;
											}
										}
										window.charts.push(myChart);
										console.log(JSON.stringify(switchE_def[i].option));
										return;
									}
								}
							});
						})()
					</script>
				{{/if}}
				{{if (build.dayRange)}}
					<li class="default">|</li>
					<li class="hand"><i id="{{build.id}}-timer" class="fa icon fa-calendar"> {{timer}}</i></li>
					{{if (build.dayRange === 2)}}
						<script>
							(function () {
								layui.use('laydate', function() {
									var laydate = layui.laydate;
									laydate.render({
										elem: '#{{build.id}}-timer',
										type: 'month',
										range: '~',
										format: 'yyyy-MM',
										theme: '#325a5b',
										done: function (value, date, endDate) {
											/*这里对获取的数据要进行一定的整理传值*/
											window._method['{{build.name}}'].ajax(value);
										}
									});
								});
							})()
						</script>
					{{else}}
						<script>
							(function () {
								layui.use('laydate', function() {
									var laydate = layui.laydate;
									laydate.render({
										elem: '#{{build.id}}-timer',
										theme: '#325a5b',
										done: function (value, date, endDate) {
											/*这里对获取的数据要进行一定的整理传值*/
											window._method['{{build.name}}'].ajax(value);
										}
									});
								});
							})()
						</script>
					{{/if}}
				{{/if}}
				{{if (build.day === 1 || build.day === '1-1')}}
					<li class="default">|</li>
				  {{if (build.day === '1-1')}}
  					<li class="holiday-list">
              <a class="hand">节假日</a>
              <ul class="item">
                <li class="timer-change" data-id="yuand">元旦</li>
                <li class="timer-change" data-id="chunj">春节</li>
                <li class="timer-change" data-id="qingm">清明</li>
                <li class="timer-change" data-id="wuy">五一</li>
                <li class="timer-change" data-id="duanw">端午</li>
                <li class="timer-change" data-id="zhongq">中秋</li>
                <li class="timer-change" data-id="guoq">国庆</li>
              </ul>
            </li>
            <script>
              (function(){
                $('#{{build.id}}').find(".holiday-list .item").mCustomScrollbar();
                $('#{{build.id}}').find('.holiday-list a').off('click').click(function (event) {
                  event.stopPropagation();
                  $(this).parent().find('.item').show('fast');
                  $(this).parent().find('.item').css('visibility', 'visible');
                  $(document).off('click').click(function (event) {
                    $('.holiday-list .item').hide('fast');
                  })
                })
              })();
            </script>
          {{else}}
					  <li class="hand timer-change" data-id="holiday">节假日</li>
          {{/if}}
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'year')}}active{{/if}}" data-id="year">本年</li>
          <li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'month')}}active{{/if}}" data-id="month">本月</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'week')}}active{{/if}}" data-id="week">本周</li>
				{{else if (build.day === 2)}}
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'holiday')}}active{{/if}}" data-id="holiday">未来一年</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'month')}}active{{/if}}" data-id="month">未来一月</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'week')}}active{{/if}}" data-id="week">未来一周</li>
				{{else if (build.day === 4)}}
					<li class="default">|</li>
					<li class="hand province-change {{if (timer === 'holiday')}}active{{/if}}" data-id="holiday">按省份</li>
					<li class="default">|</li>
					<li class="hand province-change {{if (timer === 'month')}}active{{/if}}" data-id="month">按城市</li>
				{{/if}}
			</ul>
		</dd>
		{{include './inside/echarts_init.art.html'}}
	</dl>
<!--标准Echarts-->
	<style>

	</style>
	<dl class="content-mod">
		<dt class="content-mod-title">{{title}}</dt>
		<dd class="content-mod-det">
			<ul class="content-mod-timer">
				{{if (build.day === 3)}}
					<li class="hand timer-change" data-id="holiday">更多 <i class="fa fa-angle-right"></i></li>
					<li class="default">|</li>
				{{/if}}
				{{if (build.switchE === true)}}
					<li data-id="bar" class="hand content-mod-echarts_change {{if (build.echarts === 'bar')}}active{{/if}}"><i class="fa icon fa-bar-chart"></i></li>
					<li data-id="pie" class="hand content-mod-echarts_change {{if (build.echarts === 'pie')}}active{{/if}}"><i class="fa icon fa-pie-chart"></i></li>
					<li data-id="line" class="hand content-mod-echarts_change {{if (build.echarts === 'line')}}active{{/if}}"><i class="fa icon fa-line-chart"></i></li>
					<script>
						(function () {
							var switchE_def = JSON.parse('{{#switchE_def}}');
							$('#{{build.id}}').find('.content-mod-echarts_change').off('click').click(function () {
								if ($(this).hasClass('active')) {
									return;
								}
								$('#{{build.id}}').find('.content-mod-echarts_change').removeClass('active');
								$(this).addClass('active');
								var type = $(this).attr('data-id');
								for (var i = 0; i < switchE_def.length; i++) {
									if (switchE_def[i].name === type) {
										var dom = $("#{{build.id}}-echarts")[0];
										echarts.dispose(dom);
										var myChart = echarts.init(dom, 'echarts-style_green');
										myChart.setOption(switchE_def[i].option);
										myChart.name = '{{build.id}}';
										for (var j = 0; j < window.charts.length; j++) {
											if (window.charts[j].name === '{{build.id}}') {
												window.charts.splice(j, 1);
												break;
											}
										}
										window.charts.push(myChart);
										console.log(JSON.stringify(switchE_def[i].option));
										return;
									}
								}
							});
						})()
					</script>
				{{else if (build.switchE && (build.switchE.change || build.switchE.need) && option)}}
					{{each switchE_deF as t i}}
						<li data-id="{{t.name}}" class="hand content-mod-echarts_change {{if (build.echarts === t.name)}}active{{/if}}"><i class="fa icon {{if (t.name === 'line' || t.name === 'bar' || t.name === 'pie')}} fa-{{t.name}}-chart{{else}} fa-{{t.name}} {{/if}}"></i></li>
					{{/each}}
					<li class="default">|</li>
					<script>
						(function () {
							var switchE_def = JSON.parse('{{#switchE_def}}');
							$('#{{build.id}}').find('.content-mod-echarts_change').off('click').click(function () {
								if ($(this).hasClass('active')) {
									return;
								}
								$('#{{build.id}}').find('.content-mod-echarts_change').removeClass('active');
								$(this).addClass('active');
								var type = $(this).attr('data-id');
								for (var i = 0; i < switchE_def.length; i++) {
									if (switchE_def[i].name === type) {
										var dom = $("#{{build.id}}-echarts")[0];
										echarts.dispose(dom);
										var myChart = echarts.init(dom, 'echarts-style_green');
										myChart.setOption(switchE_def[i].option);
										myChart.name = '{{build.id}}';
										for (var j = 0; j < window.charts.length; j++) {
											if (window.charts[j].name === '{{build.id}}') {
												window.charts.splice(j, 1);
												break;
											}
										}
										window.charts.push(myChart);
										console.log(JSON.stringify(switchE_def[i].option));
										return;
									}
								}
							});
						})()
					</script>
				{{/if}}
				{{if (build.dayRange)}}
					<li class="default">|</li>
					<li class="hand"><i id="{{build.id}}-timer" class="fa icon fa-calendar"> {{timer}}</i></li>
					{{if (build.dayRange === 2)}}
						<script>
							(function () {
								layui.use('laydate', function() {
									var laydate = layui.laydate;
									laydate.render({
										elem: '#{{build.id}}-timer',
										type: 'month',
										range: '~',
										format: 'yyyy-MM',
										theme: '#325a5b',
										done: function (value, date, endDate) {
											/*这里对获取的数据要进行一定的整理传值*/
											window._method['{{build.name}}'].ajax(value);
										}
									});
								});
							})()
						</script>
					{{else}}
						<script>
							(function () {
								layui.use('laydate', function() {
									var laydate = layui.laydate;
									laydate.render({
										elem: '#{{build.id}}-timer',
										theme: '#325a5b',
										done: function (value, date, endDate) {
											/*这里对获取的数据要进行一定的整理传值*/
											window._method['{{build.name}}'].ajax(value);
										}
									});
								});
							})()
						</script>
					{{/if}}
				{{/if}}
				{{if (build.day === 1 || build.day === '1-1')}}
					<li class="default">|</li>
				  {{if (build.day === '1-1')}}
  					<li class="holiday-list">
              <a class="hand">节假日</a>
              <ul class="item">
                <li class="timer-change" data-id="yuand">元旦</li>
                <li class="timer-change" data-id="chunj">春节</li>
                <li class="timer-change" data-id="qingm">清明</li>
                <li class="timer-change" data-id="wuy">五一</li>
                <li class="timer-change" data-id="duanw">端午</li>
                <li class="timer-change" data-id="zhongq">中秋</li>
                <li class="timer-change" data-id="guoq">国庆</li>
              </ul>
            </li>
            <script>
              (function(){
                $('#{{build.id}}').find(".holiday-list .item").mCustomScrollbar();
                $('#{{build.id}}').find('.holiday-list a').off('click').click(function (event) {
                  event.stopPropagation();
                  $(this).parent().find('.item').show('fast');
                  $(this).parent().find('.item').css('visibility', 'visible');
                  $(document).off('click').click(function (event) {
                    $('.holiday-list .item').hide('fast');
                  })
                })
              })();
            </script>
          {{else}}
					  <li class="hand timer-change" data-id="holiday">节假日</li>
          {{/if}}
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'year')}}active{{/if}}" data-id="year">本年</li>
          <li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'month')}}active{{/if}}" data-id="month">本月</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'week')}}active{{/if}}" data-id="week">本周</li>
				{{else if (build.day === 2)}}
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'holiday')}}active{{/if}}" data-id="holiday">未来一年</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'month')}}active{{/if}}" data-id="month">未来一月</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'week')}}active{{/if}}" data-id="week">未来一周</li>
				{{else if (build.day === 4)}}
					<li class="default">|</li>
					<li class="hand province-change {{if (timer === 'holiday')}}active{{/if}}" data-id="holiday">按省份</li>
					<li class="default">|</li>
					<li class="hand province-change {{if (timer === 'month')}}active{{/if}}" data-id="month">按城市</li>
				{{/if}}
			</ul>
		</dd>
		{{include './inside/echarts_init.art.html'}}
	</dl>
<!--标准Echarts-->
	<style>

	</style>
	<dl class="content-mod">
		<dt class="content-mod-title">{{title}}</dt>
		<dd class="content-mod-det">
			<ul class="content-mod-timer">
				{{if (build.day === 3)}}
					<li class="hand timer-change" data-id="holiday">更多 <i class="fa fa-angle-right"></i></li>
					<li class="default">|</li>
				{{/if}}
				{{if (build.switchE === true)}}
					<li data-id="bar" class="hand content-mod-echarts_change {{if (build.echarts === 'bar')}}active{{/if}}"><i class="fa icon fa-bar-chart"></i></li>
					<li data-id="pie" class="hand content-mod-echarts_change {{if (build.echarts === 'pie')}}active{{/if}}"><i class="fa icon fa-pie-chart"></i></li>
					<li data-id="line" class="hand content-mod-echarts_change {{if (build.echarts === 'line')}}active{{/if}}"><i class="fa icon fa-line-chart"></i></li>
					<script>
						(function () {
							var switchE_def = JSON.parse('{{#switchE_def}}');
							$('#{{build.id}}').find('.content-mod-echarts_change').off('click').click(function () {
								if ($(this).hasClass('active')) {
									return;
								}
								$('#{{build.id}}').find('.content-mod-echarts_change').removeClass('active');
								$(this).addClass('active');
								var type = $(this).attr('data-id');
								for (var i = 0; i < switchE_def.length; i++) {
									if (switchE_def[i].name === type) {
										var dom = $("#{{build.id}}-echarts")[0];
										echarts.dispose(dom);
										var myChart = echarts.init(dom, 'echarts-style_green');
										myChart.setOption(switchE_def[i].option);
										myChart.name = '{{build.id}}';
										for (var j = 0; j < window.charts.length; j++) {
											if (window.charts[j].name === '{{build.id}}') {
												window.charts.splice(j, 1);
												break;
											}
										}
										window.charts.push(myChart);
										console.log(JSON.stringify(switchE_def[i].option));
										return;
									}
								}
							});
						})()
					</script>
				{{else if (build.switchE && (build.switchE.change || build.switchE.need) && option)}}
					{{each switchE_deF as t i}}
						<li data-id="{{t.name}}" class="hand content-mod-echarts_change {{if (build.echarts === t.name)}}active{{/if}}"><i class="fa icon {{if (t.name === 'line' || t.name === 'bar' || t.name === 'pie')}} fa-{{t.name}}-chart{{else}} fa-{{t.name}} {{/if}}"></i></li>
					{{/each}}
					<li class="default">|</li>
					<script>
						(function () {
							var switchE_def = JSON.parse('{{#switchE_def}}');
							$('#{{build.id}}').find('.content-mod-echarts_change').off('click').click(function () {
								if ($(this).hasClass('active')) {
									return;
								}
								$('#{{build.id}}').find('.content-mod-echarts_change').removeClass('active');
								$(this).addClass('active');
								var type = $(this).attr('data-id');
								for (var i = 0; i < switchE_def.length; i++) {
									if (switchE_def[i].name === type) {
										var dom = $("#{{build.id}}-echarts")[0];
										echarts.dispose(dom);
										var myChart = echarts.init(dom, 'echarts-style_green');
										myChart.setOption(switchE_def[i].option);
										myChart.name = '{{build.id}}';
										for (var j = 0; j < window.charts.length; j++) {
											if (window.charts[j].name === '{{build.id}}') {
												window.charts.splice(j, 1);
												break;
											}
										}
										window.charts.push(myChart);
										console.log(JSON.stringify(switchE_def[i].option));
										return;
									}
								}
							});
						})()
					</script>
				{{/if}}
				{{if (build.dayRange)}}
					<li class="default">|</li>
					<li class="hand"><i id="{{build.id}}-timer" class="fa icon fa-calendar"> {{timer}}</i></li>
					{{if (build.dayRange === 2)}}
						<script>
							(function () {
								layui.use('laydate', function() {
									var laydate = layui.laydate;
									laydate.render({
										elem: '#{{build.id}}-timer',
										type: 'month',
										range: '~',
										format: 'yyyy-MM',
										theme: '#325a5b',
										done: function (value, date, endDate) {
											/*这里对获取的数据要进行一定的整理传值*/
											window._method['{{build.name}}'].ajax(value);
										}
									});
								});
							})()
						</script>
					{{else}}
						<script>
							(function () {
								layui.use('laydate', function() {
									var laydate = layui.laydate;
									laydate.render({
										elem: '#{{build.id}}-timer',
										theme: '#325a5b',
										done: function (value, date, endDate) {
											/*这里对获取的数据要进行一定的整理传值*/
											window._method['{{build.name}}'].ajax(value);
										}
									});
								});
							})()
						</script>
					{{/if}}
				{{/if}}
				{{if (build.day === 1 || build.day === '1-1')}}
					<li class="default">|</li>
				  {{if (build.day === '1-1')}}
  					<li class="holiday-list">
              <a class="hand">节假日</a>
              <ul class="item">
                <li class="timer-change" data-id="yuand">元旦</li>
                <li class="timer-change" data-id="chunj">春节</li>
                <li class="timer-change" data-id="qingm">清明</li>
                <li class="timer-change" data-id="wuy">五一</li>
                <li class="timer-change" data-id="duanw">端午</li>
                <li class="timer-change" data-id="zhongq">中秋</li>
                <li class="timer-change" data-id="guoq">国庆</li>
              </ul>
            </li>
            <script>
              (function(){
                $('#{{build.id}}').find(".holiday-list .item").mCustomScrollbar();
                $('#{{build.id}}').find('.holiday-list a').off('click').click(function (event) {
                  event.stopPropagation();
                  $(this).parent().find('.item').show('fast');
                  $(this).parent().find('.item').css('visibility', 'visible');
                  $(document).off('click').click(function (event) {
                    $('.holiday-list .item').hide('fast');
                  })
                })
              })();
            </script>
          {{else}}
					  <li class="hand timer-change" data-id="holiday">节假日</li>
          {{/if}}
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'year')}}active{{/if}}" data-id="year">本年</li>
          <li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'month')}}active{{/if}}" data-id="month">本月</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'week')}}active{{/if}}" data-id="week">本周</li>
				{{else if (build.day === 2)}}
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'holiday')}}active{{/if}}" data-id="holiday">未来一年</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'month')}}active{{/if}}" data-id="month">未来一月</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'week')}}active{{/if}}" data-id="week">未来一周</li>
				{{else if (build.day === 4)}}
					<li class="default">|</li>
					<li class="hand province-change {{if (timer === 'holiday')}}active{{/if}}" data-id="holiday">按省份</li>
					<li class="default">|</li>
					<li class="hand province-change {{if (timer === 'month')}}active{{/if}}" data-id="month">按城市</li>
				{{/if}}
			</ul>
		</dd>
		{{include './inside/echarts_init.art.html'}}
	</dl>
<!--标准Echarts-->
	<style>

	</style>
	<dl class="content-mod">
		<dt class="content-mod-title">{{title}}</dt>
		<dd class="content-mod-det">
			<ul class="content-mod-timer">
				{{if (build.day === 3)}}
					<li class="hand timer-change" data-id="holiday">更多 <i class="fa fa-angle-right"></i></li>
					<li class="default">|</li>
				{{/if}}
				{{if (build.switchE === true)}}
					<li data-id="bar" class="hand content-mod-echarts_change {{if (build.echarts === 'bar')}}active{{/if}}"><i class="fa icon fa-bar-chart"></i></li>
					<li data-id="pie" class="hand content-mod-echarts_change {{if (build.echarts === 'pie')}}active{{/if}}"><i class="fa icon fa-pie-chart"></i></li>
					<li data-id="line" class="hand content-mod-echarts_change {{if (build.echarts === 'line')}}active{{/if}}"><i class="fa icon fa-line-chart"></i></li>
					<script>
						(function () {
							var switchE_def = JSON.parse('{{#switchE_def}}');
							$('#{{build.id}}').find('.content-mod-echarts_change').off('click').click(function () {
								if ($(this).hasClass('active')) {
									return;
								}
								$('#{{build.id}}').find('.content-mod-echarts_change').removeClass('active');
								$(this).addClass('active');
								var type = $(this).attr('data-id');
								for (var i = 0; i < switchE_def.length; i++) {
									if (switchE_def[i].name === type) {
										var dom = $("#{{build.id}}-echarts")[0];
										echarts.dispose(dom);
										var myChart = echarts.init(dom, 'echarts-style_green');
										myChart.setOption(switchE_def[i].option);
										myChart.name = '{{build.id}}';
										for (var j = 0; j < window.charts.length; j++) {
											if (window.charts[j].name === '{{build.id}}') {
												window.charts.splice(j, 1);
												break;
											}
										}
										window.charts.push(myChart);
										console.log(JSON.stringify(switchE_def[i].option));
										return;
									}
								}
							});
						})()
					</script>
				{{else if (build.switchE && (build.switchE.change || build.switchE.need) && option)}}
					{{each switchE_deF as t i}}
						<li data-id="{{t.name}}" class="hand content-mod-echarts_change {{if (build.echarts === t.name)}}active{{/if}}"><i class="fa icon {{if (t.name === 'line' || t.name === 'bar' || t.name === 'pie')}} fa-{{t.name}}-chart{{else}} fa-{{t.name}} {{/if}}"></i></li>
					{{/each}}
					<li class="default">|</li>
					<script>
						(function () {
							var switchE_def = JSON.parse('{{#switchE_def}}');
							$('#{{build.id}}').find('.content-mod-echarts_change').off('click').click(function () {
								if ($(this).hasClass('active')) {
									return;
								}
								$('#{{build.id}}').find('.content-mod-echarts_change').removeClass('active');
								$(this).addClass('active');
								var type = $(this).attr('data-id');
								for (var i = 0; i < switchE_def.length; i++) {
									if (switchE_def[i].name === type) {
										var dom = $("#{{build.id}}-echarts")[0];
										echarts.dispose(dom);
										var myChart = echarts.init(dom, 'echarts-style_green');
										myChart.setOption(switchE_def[i].option);
										myChart.name = '{{build.id}}';
										for (var j = 0; j < window.charts.length; j++) {
											if (window.charts[j].name === '{{build.id}}') {
												window.charts.splice(j, 1);
												break;
											}
										}
										window.charts.push(myChart);
										console.log(JSON.stringify(switchE_def[i].option));
										return;
									}
								}
							});
						})()
					</script>
				{{/if}}
				{{if (build.dayRange)}}
					<li class="default">|</li>
					<li class="hand"><i id="{{build.id}}-timer" class="fa icon fa-calendar"> {{timer}}</i></li>
					{{if (build.dayRange === 2)}}
						<script>
							(function () {
								layui.use('laydate', function() {
									var laydate = layui.laydate;
									laydate.render({
										elem: '#{{build.id}}-timer',
										type: 'month',
										range: '~',
										format: 'yyyy-MM',
										theme: '#325a5b',
										done: function (value, date, endDate) {
											/*这里对获取的数据要进行一定的整理传值*/
											window._method['{{build.name}}'].ajax(value);
										}
									});
								});
							})()
						</script>
					{{else}}
						<script>
							(function () {
								layui.use('laydate', function() {
									var laydate = layui.laydate;
									laydate.render({
										elem: '#{{build.id}}-timer',
										theme: '#325a5b',
										done: function (value, date, endDate) {
											/*这里对获取的数据要进行一定的整理传值*/
											window._method['{{build.name}}'].ajax(value);
										}
									});
								});
							})()
						</script>
					{{/if}}
				{{/if}}
				{{if (build.day === 1 || build.day === '1-1')}}
					<li class="default">|</li>
				  {{if (build.day === '1-1')}}
  					<li class="holiday-list">
              <a class="hand">节假日</a>
              <ul class="item">
                <li class="timer-change" data-id="yuand">元旦</li>
                <li class="timer-change" data-id="chunj">春节</li>
                <li class="timer-change" data-id="qingm">清明</li>
                <li class="timer-change" data-id="wuy">五一</li>
                <li class="timer-change" data-id="duanw">端午</li>
                <li class="timer-change" data-id="zhongq">中秋</li>
                <li class="timer-change" data-id="guoq">国庆</li>
              </ul>
            </li>
            <script>
              (function(){
                $('#{{build.id}}').find(".holiday-list .item").mCustomScrollbar();
                $('#{{build.id}}').find('.holiday-list a').off('click').click(function (event) {
                  event.stopPropagation();
                  $(this).parent().find('.item').show('fast');
                  $(this).parent().find('.item').css('visibility', 'visible');
                  $(document).off('click').click(function (event) {
                    $('.holiday-list .item').hide('fast');
                  })
                })
              })();
            </script>
          {{else}}
					  <li class="hand timer-change" data-id="holiday">节假日</li>
          {{/if}}
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'year')}}active{{/if}}" data-id="year">本年</li>
          <li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'month')}}active{{/if}}" data-id="month">本月</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'week')}}active{{/if}}" data-id="week">本周</li>
				{{else if (build.day === 2)}}
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'holiday')}}active{{/if}}" data-id="holiday">未来一年</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'month')}}active{{/if}}" data-id="month">未来一月</li>
					<li class="default">|</li>
					<li class="hand timer-change {{if (timer === 'week')}}active{{/if}}" data-id="week">未来一周</li>
				{{else if (build.day === 4)}}
					<li class="default">|</li>
					<li class="hand province-change {{if (timer === 'holiday')}}active{{/if}}" data-id="holiday">按省份</li>
					<li class="default">|</li>
					<li class="hand province-change {{if (timer === 'month')}}active{{/if}}" data-id="month">按城市</li>
				{{/if}}
			</ul>
		</dd>
		{{include './inside/echarts_init.art.html'}}
	</dl>
