<style type="text/css">
    .sales-tickets-tab {
        overflow-y: auto;
        max-height: 6rem;
    }
    .mask {
        height: 75.6%;
        overflow: hidden;
        background: rgba(227, 235, 226, .1);
        position: relative;
        position: fixed;
        width: 85.7%;
    }

    .mask .loading {
        color: rgba(0, 0, 0, .5);
        cursor: default;
        margin: 20% 0 0 49%;
        width: auto;
    }
</style>
{{if (!data)}}
<div class="mask">
    <i class="fa fa-3x fa-spinner fa-pulse loading"></i>
</div>
{{else}}
<table class="layui-table" style="margin: 0;padding: 0;width: 100%">
    <colgroup>
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
        <col width="2.325%">
    </colgroup>
    <thead>
    <tr>
        <th rowspan="4">序号</th>
        <th colspan="30">江南长城景区</th>
        <th colspan="12">东湖景区</th>
    </tr>
    <tr>
        <th colspan="6">兴善门</th>
        <th colspan="6">揽胜门</th>
        <th colspan="6">朝天门</th>
        <th colspan="6">陈隍门</th>
        <th colspan="6">靖越门</th>
        <th colspan="6">东湖北门</th>
        <th colspan="6">东湖南门</th>
    </tr>
    <tr>
        <th colspan="3">售票</th>
        <th colspan="3">检票</th>
        <th colspan="3">售票</th>
        <th colspan="3">检票</th>
        <th colspan="3">售票</th>
        <th colspan="3">检票</th>
        <th colspan="3">售票</th>
        <th colspan="3">检票</th>
        <th colspan="3">售票</th>
        <th colspan="3">检票</th>
        <th colspan="3">售票</th>
        <th colspan="3">检票</th>
        <th colspan="3">售票</th>
        <th colspan="3">检票</th>
    </tr>
    <tr>
        <th>散客</th>
        <th>团队</th>
        <th>小计</th>
        <th>收费</th>
        <th>免费</th>
        <th>小计</th>
        <th>散客</th>
        <th>团队</th>
        <th>小计</th>
        <th>收费</th>
        <th>免费</th>
        <th>小计</th>
        <th>散客</th>
        <th>团队</th>
        <th>小计</th>
        <th>收费</th>
        <th>免费</th>
        <th>小计</th>
        <th>散客</th>
        <th>团队</th>
        <th>小计</th>
        <th>收费</th>
        <th>免费</th>
        <th>小计</th>
        <th>散客</th>
        <th>团队</th>
        <th>小计</th>
        <th>收费</th>
        <th>免费</th>
        <th>小计</th>
        <th>散客</th>
        <th>团队</th>
        <th>小计</th>
        <th>收费</th>
        <th>免费</th>
        <th>小计</th>
        <th>散客</th>
        <th>团队</th>
        <th>小计</th>
        <th>收费</th>
        <th>免费</th>
        <th>小计</th>
    </tr>
    </thead>
</table>
<div class="sales-tickets-tab">
    <table id="content-table" class="layui-table" class="sales-tickets-tab" style="width: 100%;margin: 0 0 .2rem 0;">
            <colgroup>
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
                <col width="2.325%">
            </colgroup>
        <thead style="display: none">
        <tr>
            <th rowspan="4">序号</th>
            <th colspan="30">江南长城景区</th>
            <th colspan="12">东湖景区</th>
        </tr>
        <tr>
            <th colspan="6">兴善门</th>
            <th colspan="6">揽胜门</th>
            <th colspan="6">朝天门</th>
            <th colspan="6">陈隍门</th>
            <th colspan="6">靖越门</th>
            <th colspan="6">东湖北门</th>
            <th colspan="6">东湖南门</th>
        </tr>
        <tr>
            <th colspan="3">售票</th>
            <th colspan="3">检票</th>
            <th colspan="3">售票</th>
            <th colspan="3">检票</th>
            <th colspan="3">售票</th>
            <th colspan="3">检票</th>
            <th colspan="3">售票</th>
            <th colspan="3">检票</th>
            <th colspan="3">售票</th>
            <th colspan="3">检票</th>
            <th colspan="3">售票</th>
            <th colspan="3">检票</th>
            <th colspan="3">售票</th>
            <th colspan="3">检票</th>
        </tr>
        <tr>
            <th>散客</th>
            <th>团队</th>
            <th>小计</th>
            <th>收费</th>
            <th>免费</th>
            <th>小计</th>
            <th>散客</th>
            <th>团队</th>
            <th>小计</th>
            <th>收费</th>
            <th>免费</th>
            <th>小计</th>
            <th>散客</th>
            <th>团队</th>
            <th>小计</th>
            <th>收费</th>
            <th>免费</th>
            <th>小计</th>
            <th>散客</th>
            <th>团队</th>
            <th>小计</th>
            <th>收费</th>
            <th>免费</th>
            <th>小计</th>
            <th>散客</th>
            <th>团队</th>
            <th>小计</th>
            <th>收费</th>
            <th>免费</th>
            <th>小计</th>
            <th>散客</th>
            <th>团队</th>
            <th>小计</th>
            <th>收费</th>
            <th>免费</th>
            <th>小计</th>
            <th>散客</th>
            <th>团队</th>
            <th>小计</th>
            <th>收费</th>
            <th>免费</th>
            <th>小计</th>
        </tr>
        </thead>
        <tbody>
        {{each data as t i}}
        <tr>
            <td>
                {{if (i == data.length-1)}}
                总计
                {{else}}
                {{i+1}}
                {{/if}}
            </td>
            <!-- 兴善门 -->
            <td>{{t.xingShanGateSaleLoose}}</td>
            <td>{{t.xingShanGateSaleTeam}}</td>
            <td>{{t.xingShanGateSaleLoose + t.xingShanGateSaleLoose}}</td>
            <td>{{t.xingShanGateCheckCharge}}</td>
            <td>{{t.xingShanGateCheckFree}}</td>
            <td>{{t.xingShanGateCheckCharge + t.xingShanGateCheckFree}}</td>

            <!-- 揽胜门 -->
            <td>{{t.lanShengGateSaleLoose}}</td>
            <td>{{t.lanShengGateSaleTeam}}</td>
            <td>{{t.lanShengGateSaleLoose + t.lanShengGateSaleTeam}}</td>
            <td>{{t.lanShengGateCheckCharge}}</td>
            <td>{{t.lanShengGateCheckFree}}</td>
            <td>{{t.lanShengGateCheckCharge + t.lanShengGateCheckFree}}</td>

            <!-- 朝天门 -->
            <td>{{t.chaoTianGateSaleLoose}}</td>
            <td>{{t.chaoTianGateSaleTeam}}</td>
            <td>{{t.chaoTianGateSaleLoose + t.chaoTianGateSaleTeam}}</td>
            <td>{{t.chaoTianGateCheckCharge}}</td>
            <td>{{t.chaoTianGateCheckFree}}</td>
            <td>{{t.chaoTianGateCheckCharge + t.chaoTianGateCheckFree}}</td>

            <!-- 陈隍门 -->
            <td>{{t.chengHuangMountainSaleLoose}}</td>
            <td>{{t.chengHuangMountainSaleTeam}}</td>
            <td>{{t.chengHuangMountainSaleLoose + t.chengHuangMountainSaleTeam}}</td>
            <td>{{t.chengHuangMountainCheckCharge}}</td>
            <td>{{t.chengHuangMountainCheckFree}}</td>
            <td>{{t.chengHuangMountainCheckCharge + t.chengHuangMountainCheckFree}}</td>

            <!-- 靖越门 -->
            <td>{{t.jingYueGateSaleLoose}}</td>
            <td>{{t.jingYueGateSaleTeam}}</td>
            <td>{{t.jingYueGateSaleLoose + t.jingYueGateSaleTeam}}</td>
            <td>{{t.jingYueGateCheckCharge}}</td>
            <td>{{t.jingYueGateCheckFree}}</td>
            <td>{{t.jingYueGateCheckCharge + t.jingYueGateCheckFree}}</td>

            <!-- 东湖北门 -->
            <td>{{t.eastLakeNorthGateSaleLoose}}</td>
            <td>{{t.eastLakeNorthGateSaleTeam}}</td>
            <td>{{t.eastLakeNorthGateSaleLoose + t.eastLakeNorthGateSaleTeam}}</td>
            <td>{{t.eastLakeNorthGateCheckCharge}}</td>
            <td>{{t.eastLakeNorthGateCheckFree}}</td>
            <td>{{t.eastLakeNorthGateCheckCharge + t.eastLakeNorthGateCheckFree}}</td>

            <!-- 东湖南门 -->
            <td>{{t.eastLakeSouthGateSaleLoose}}</td>
            <td>{{t.eastLakeSouthGateSaleTeam}}</td>
            <td>{{t.eastLakeSouthGateSaleLoose + t.eastLakeSouthGateSaleTeam}}</td>
            <td>{{t.eastLakeSouthGateCheckCharge}}</td>
            <td>{{t.eastLakeSouthGateCheckFree}}</td>
            <td>{{t.eastLakeSouthGateCheckCharge + t.eastLakeSouthGateCheckFree}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{/if}}