<!--head.art.html --- 测试用例-->
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="Author" content="My灬Best丶Angel" />
<meta name="Copyright" content="" />
<meta name="keywords" content="网站关键字" />
<meta name="description" content="网站描述" />
<title>统计分析</title>
<link rel="stylesheet" href="src/fonts/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="src/fonts/icon/iconfont.css" />
<link rel="stylesheet" href="src/js/plugin/layui/css/layui.css" />
<link rel="stylesheet" href="src/js/plugin/toastr/toastr.min.css" />
<!--<link rel="stylesheet" href="libs/time/flipclock.css" />-->
<!--<link rel="stylesheet" href="libs/time/time.css" />-->
<link rel="stylesheet" href="src/js/plugin/scroll/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="src/css/public.css" />
<script src="js/logic/url.js"></script><!--URL-->
<script src="js/plugin/jquery-3.0.0.min.js"></script>
<script src="js/logic/ajax.js"></script><!--AJAX-->
<script src="js/plugin/layui/layui.all.js"></script>
<!--路由底层-->
<script src="js/plugin/routeJSLoad.js"></script>
<!--自适应-->
<script src="js/plugin/adaption.js"></script>
<!--<script src="js/plugin/echarts.min.js"></script>-->
<!--<script src="js/plugin/echarts-style_green.js"></script>-->
<!--舆情关键字-->
<!--<script src="js/plugin/echarts-wordcloud.min.js"></script>-->
<!--<script src="js/plugin/china.js"></script>-->
<!--<script src="js/plugin/zhejiang.js"></script>-->
<!--提示卡-->
<!--<script src="js/plugin/toastr/toastr.js"></script>-->
<!--滚动条-->
<!--<script src="js/plugin/scroll/jquery.mCustomScrollbar.concat.min.js"></script>-->
<!--高德map-->
<!--<script src="js/plugin/maps.js"></script>-->
<!--<script src="module/build/template.js"></script>-->
<!--<script src="js/logic/public.js"></script>-->
<!--<script src="js/logic/utils.js"></script>-->
<!--excel导出-->
<!--<script src="js/plugin/excel.js"></script>-->
<!--<script src="js/logic/main/index.js"></script>-->
<script src="js/logic/route.js"></script>